<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackOffice.Properties.Settings.MSWatchShopCustomerConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Smart\Desktop\Mathew deans examples\MS Watch Shop Master Final final final final final\MSWatchShop\MSWatchShop\App_Data\MSWatchShopCustomer.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BackOffice.Properties.Settings.MSWatchShopProductConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Smart\Desktop\Mathew deans examples\MS Watch Shop Master Final final final final final\MSWatchShop\MSWatchShop\App_Data\MSWatchShopProduct.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BackOffice.Properties.Settings.GameGeekCustomerConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Smart\Desktop\Final Project Work\Game Geek Finalllllllllllllllllllllllllllllllllllllllllllllllllllllllll\GameGeek\GameGeekFrontEnd\App_Data\GameGeekCustomer.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BackOffice.Properties.Settings.GameGeekProductConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Smart\Desktop\Final Project Work\Game Geek Finalllllllllllllllllllllllllllllllllllllllllllllllllllllllll\GameGeek\GameGeekFrontEnd\App_Data\GameGeekProduct.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>