
body {
    background-color: #ff8080;
}

header {
    background-color: #ffffe6;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

footer {
    background-color: #ffffe6;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 90%;
    left: 0%;
}

article {
    position: fixed;
    width: 80%;
    top: 10%;
    left: 20%;
}
